@import './base.css';

/* Declaraciones @font-face para cada variante de Roboto */
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: url('./fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('./fonts/Roboto-Thin.ttf') format('truetype');
}

/* Importamos Tailwind CSS */
@import 'tailwindcss';

/* Definimos una variable de tema para la fuente Roboto */
@theme {
  --font-roboto: 'Roboto', sans-serif;
}

/* Estilos generales */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: var(--font-roboto);
}

.btn-custom {
  border-radius: var(--radius-4xl);
  font-weight: 700;
  margin: 5px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}
